// Shared content elements used across multiple pages
// ============================================================================
.dark-theme {
  background: $fill-black;
  color: $glyph-white;
}

.hide {
  display: none;
}

.text-section {
  padding: 7rem 1.5rem;
  .section-content {
    max-width: 33%;
    margin: 0 auto;
  }
}


.columnContainer {
  clear: both;
  .col3 {
    width: 33%;
    float: left;
    padding-right: 1rem;
    &.right {
      margin-left: 33%;
    }
  }
}
