// Shared content elements used across multiple pages
// ============================================================================
@use '../settings' as *;

.contentBlock {
    margin: $margin-section auto;
    max-width: 1440px;
    p, h4 {
        display: block;
        max-width: 25em;
    }
}

.textBlock {
    @extend %padding-inner;
    max-width: 40%;
    margin: $margin-lg 0 $margin-sm;
}

.columnContainer {
    clear: both;
    .col3 {
        width: 33%;
        float: left;
        padding-right: 1rem;
        &.right {
            margin-left: 33%;
        }
    }
}
