// Shared content elements used across multiple pages
// ============================================================================
@use '../settings' as *;

.textBlock {
    @extend %padding-inner;
    max-width: 40%;
    margin: $margin-lg 0;
}

.columnContainer {
    clear: both;
    .col3 {
        width: 33%;
        float: left;
        padding-right: 1rem;
        &.right {
            margin-left: 33%;
        }
    }
}
