//  FOOTER SECTION
// ============================================================================

@use "../settings" as *;

.footerLink {
  @extend h3;
  display: block;
  padding-bottom: 0.2em;
  text-transform: uppercase;
}

footer hr {
  margin-bottom: $unit-md;
}