//  HEADER SECTION
// ============================================================================

@use '../settings' as *;

header.hero {
    min-height: 88dvh;
    padding-bottom: 45rem;
    .flex-container {
        @extend %absolute-bottom;
        @extend %padding-outer;
        align-items: bottom;
        justify-content: space-between;
    }
    .flexItem {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // Mobile: full width (let flex-container stack them)
        flex-basis: 100%;

        @include breakpoint-up($bp_sm) {
            &:first-child { flex-basis: 60%; }
            &:last-child { flex-basis: 40%; }
        }
        @include breakpoint-up($bp_lg) {
            &:first-child { flex-basis: 50%; }
            &:last-child { flex-basis: 30%; }
        }

        p { margin-bottom: 0; }
    }
}


header.hero-compact {
    padding-top: 20rem;
    padding-bottom: 10rem;
    min-height: none;
    @include breakpoint-up($bp_sm) {
        min-height: 50dvh;
    }
    .flex-container {
        @extend %absolute-bottom;
        @extend %padding-outer;
        align-items: bottom;
        justify-content: space-between;
        @include breakpoint-down($bp_sm) {
            position: static;
        }
    }
    .flexItem {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // Mobile: full width (let flex-container stack them)
        flex-basis: 100%;

        // Tablet and up: specific proportions
        @include breakpoint-up($bp_lg) {
            &:last-child { flex-basis: 45%; }
        }

        p { margin-bottom: 0; }
    }
}

header.hero-full {
    @extend %padding-full;
    min-height: 100dvh;
    overflow: hidden;
    padding-bottom: 45rem;
    .flex-container {
        @extend %absolute-bottom;
        .flexItem {
            // Mobile: full width
            max-width: 100%;

            // Tablet and up: 40em max
            @include breakpoint-up($bp_sm) {
                max-width: 40em;
            }
        }
    }
}