//  HEADER SECTION
// ============================================================================

@use '../settings' as *;

header.hero {
    height: 90vh;
    background: lavender;
    .flex-container {
        @extend %absolute-bottom;
        align-items: bottom;
        justify-content: space-between;
    }
    .heroLeft,
    .heroRight {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-basis: 45%;
        p {
            margin-bottom: 0;
        }
    }
}
