//  HEADER SECTION
// ============================================================================

@use '../settings' as *;

header.hero {
    height: 90vh;
    background: lavender;
    .flex-container {
        @extend %absolute-bottom;
        align-items: bottom;
        justify-content: space-between;
    }
    .flexItem {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &:first-child { flex-basis: 40%; }
        &:last-child { flex-basis: 30%; }
        p { margin-bottom: 0; }
    }
}
