// Media asset formatting
// ============================================================================

@use "../settings" as *;

// Full bleed background image.
.fillImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include transition(transform);
}