// Shared navigation elements used across multiple pages
// ============================================================================

.siteNav {

}

.siteName {
  @extend %fontSize-bodyLarge;
  text-transform: uppercase;
}

.button {
  @extend %fontSize-bodyLarge;
  text-transform: uppercase;
  border: black;
}