// Shared navigation elements used across multiple pages
// ============================================================================

@use '../settings' as *;

.siteNav {
    @include clearfix();
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: $z-max;
    .leftNav {
        float: left;
    }
    .rightNav {
        float: right;
    }
}


// Button
.button {
    @extend %fontSize-body;
    @extend .uppercase;
    display: inline-block;
    padding: 8px 24px 3px;
    border-radius: 1em;
    background-color: transparent;
    color: inherit;
    border: $border-width solid currentColor;
    // Transition
    // @include transition(transform, 20ms);
    // transform: scale(1);
}
.siteName {
    @extend %fontSize-body;
    @extend .uppercase;
    display: block;
    padding: 8px 0 3px;
    border-radius: 1em;
    background-color: transparent;
    border: $border-width solid transparent;
}

// Button hover state
a.button:hover,
a:hover .button {
    border-color: transparent;
    // transform: scale(1);
}

.button-bottomRight {
    @extend %absolute-bottom;
    text-align: right;
}

// textLink
a.textLink {
    position: relative;
    display: block;
    max-width: 100%;
    width: fit-content;
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0.2em;
        height: $border-width;
        background-color: currentColor;
        // Transition
        @include transition(transform, 200ms);
        transform: scale(0,1);
        transform-origin: 100% 0%;
    }
    &:hover::after {
        transform: scale(1,1);
        transform-origin: 0% 0%;

    }
}

a.inlineLink {
    display: inline-block;
    text-decoration: underline;
}
