// Shared navigation elements used across multiple pages
// ============================================================================

@use "../settings" as *;

.siteNav {
  @include clearfix();
  @extend %margins-standard;
  position: absolute;
  left: 0;
  right:0;
  top: 0;
  z-index: $z-max;
  .leftNav {float: left;}
  .rightNav {float: right;}
}

.siteName {
  @extend %fontSize-bodyLarge-title;
}

.button {
  @extend %fontSize-body-title;
  padding: 9.5px 20px 6px; // These numbers are a bit random, but feel balanced for now.
  border-radius: 1em;
  border: 2px solid currentColor;
}