//  WORKLIST SECTION
// ============================================================================

@use "../settings" as *;


.worklist {
    @extend .margins-outer;
    .sectionLabel {
        @extend .margins-inner;
        padding-bottom: 0;
    }
}
.worklist-small {
    display: flex;
    flex-direction: row;
    gap: $unit-sm;
    justify-content: center;
    align-items: stretch;
    .workitem {
        display: flex;
        flex: 1;
    }
    .workitem-flexwrapper {
        flex-direction: column;
        align-items: stretch;
        flex: 1;
    }
    .featured-image, 
    .featured-card {
        flex: 1;
        flex-basis: auto;
    }
}


.workitem {
    display: block;
}
.workitem-link {
    display: block;
    text-decoration: none;
}

.workitem-flexwrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: $unit-sm;
    margin: $unit-md 0;
}

.featured-image, 
.featured-card {
    flex: 1;
    border-radius: $border-radius;
    overflow: hidden;
}
.featured-image {
    flex-basis: 66%;
    .fillImage {
        transform: scale(1);
    }
}
a:hover .featured-image .fillImage { transform: scale(1.03) }

// Text Card content
.featured-card {
    @extend .margins-inner;
    flex-basis: 33%;
    h3 {
        padding-bottom: 3em;
    }
    .button {
        margin-top: $unit-sm;
        float: right;
    }
}

ul.statList {
    list-style-type: none;
    li {
        &::before {content: ''}; // removes bullet from basic bullet list
        @extend .uppercase;
        padding: 0.7em 0 0.5em;
        border-top: $border-width solid currentColor;
        &:last-child {
            border-bottom: $border-width solid currentColor;
        }
        span {

        }
    }
}