//  WORKLIST SECTION
// ============================================================================

@use "../settings" as *;


.worklist {
    @extend .margins-minimal;
    .sectionLabel {
        @extend .margins-inset;
        padding-bottom: 0;
    }
}

.workitem {
    display: block;
}

.workitem-link {
    display: block;
    text-decoration: none;
}

.workitem-flexwrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: $unit-sm;
    margin: $unit-md 0;
}

.featured-image, 
.featured-card {
    flex-grow: 1;
    border-radius: $border-radius;
    overflow: hidden;
}
.featured-image {
    flex-basis: 66%;
    .fillImage {
        transform: scale(1);
    }
}
a:hover .featured-image .fillImage { transform: scale(1.03) }

.featured-card {
    @extend .margins-inset;
    flex-basis: 33%;
    h3 {
        padding-bottom: 3em;
    }
    .button {
        margin-top: $unit-sm;
        float: right;
    }
}


ul.statList {
    list-style-type: none;
    li {
        &::before {content: ''}; // removes bullet from basic bullet list
        @extend .uppercase;
        padding: 0.7em 0 0.5em;
        border-top: $border-width solid currentColor;
        &:last-child {
            border-bottom: $border-width solid currentColor;
        }
        span {

        }
    }
}