//  WORKLIST SECTION
// ============================================================================

@use '../settings' as *;

.worklist {
    @extend %margin-outer;
    .sectionLabel {
        @extend %margin-inner;
        padding-bottom: 0;
    }
}
.worklist-small {
    display: flex;
    flex-direction: row;
    gap: $unit-sm;
    justify-content: center;
    align-items: stretch;
    .workitem {
        .flex-container {
            flex-direction: column;
            align-items: stretch;
        }
    }
}

.workitem {
    display: block;
    margin: $unit-md 0;
    .flex-container {
        flex-direction: row-reverse;
        justify-content: center;
    }
}
.workitem-link {
    display: block;
    text-decoration: none;
}

.featured-image,
.featured-card {
    border-radius: $border-radius;
    overflow: hidden;
}
.featured-image {
    .fillImage {
        transform: scale(1);
    }
}
a:hover .featured-image .fillImage {
    transform: scale(1.03);
}

// Text Card content
.featured-card {
    @extend %margin-inner;
    flex-basis: 33%;
    h3 {
        padding-bottom: 3em;
    }
    .button {
        margin-top: $unit-sm;
        float: right;
    }
}

ul.statList {
    list-style-type: none;
    li {
        &::before {
            content: '';
        } // removes bullet from basic bullet list
        @extend .uppercase;
        padding: 0.7em 0 0.5em;
        border-top: $border-width solid currentColor;
        &:last-child {
            border-bottom: $border-width solid currentColor;
        }
        span {
        }
    }
}
