//  WORKLIST SECTION
// ============================================================================

@use '../settings' as *;

.worklist {
    @extend %padding-outer;
    .sectionLabel {
        @extend %padding-inner;
        padding-bottom: 0;
    }
}
.worklist-small {
    display: flex;
    flex-direction: row;
    gap: $unit-sm;
    justify-content: center;
    align-items: stretch;
    .workitem {
        .flex-container {
            flex-direction: column;
            align-items: stretch;
        }
    }
}

.workitem {
    display: flex;
    flex-direction: column;
    margin: $unit-md 0;
    flex: 1;
    .flex-container {
        flex-direction: row-reverse;
    }
}
.workitem-link {
    display: block;
    text-decoration: none;
}

.featured-image {
    overflow: hidden;
    border-radius: $border-radius;
    .fillImage {
        transform: scale(1);
    }
}
a:hover .featured-image .fillImage {
    transform: scale(1.03);
}

// Text Card content
.featured-card {
    @extend %padding-inner;
    padding-bottom: $marign-button;
    position: relative;
    border-radius: $border-radius;
    flex: 1;
    .title {
        height: 10em;
    }
    .button {
        @extend %margin-inner;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

ul.statList {
    list-style-type: none;
    li {
        &::before {
            content: '';
        } // removes bullet from basic bullet list
        @extend .uppercase;
        padding: 0.7em 0 0.5em;
        border-top: $border-width solid currentColor;
        &:last-child {
            border-bottom: $border-width solid currentColor;
        }
        span {
        }
    }
}
