//  WORKLIST SECTION
// ============================================================================

@use "../settings" as *;


.worklist {
    @extend .margins-minimal;
    .sectionLabel {
        @extend .margins-inset;
        padding-bottom: 0;
    }
}

.workitem {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: $unit-sm;
}

.featured-image, 
.featured-card {
    flex-grow: 1;
    border-radius: $border-radius;

}
.featured-image {
    background: gray;
    flex-basis: 66%;
}

.featured-card {
    @extend .margins-inset;
    flex-basis: 33%;
    h3 {
        padding-bottom: 3em;
    }
    .button {
        margin-top: $unit-sm;
        float: right;
    }
}


ul.statList {
    list-style-type: none;
    li {
        &::before {content: ''}; // removes bullet from basic bullet list
        @extend .uppercase;
        padding: 0.7em 0 0.5em;
        border-top: $border-width solid currentColor;
        &:last-child {
            border-bottom: $border-width solid currentColor;
        }
        span {

        }
    }
}