//*******************************************
//
//	HTML TAGS
//
//	Description
//	- Default styles for HTML tags e.g. <body>, <h1>, <sup>
//
//	Notes
//	- Review normalize.scss for default tag styling
//
//	Contents
//	1) BASE
//	2) LINKS
//	3) TYPE
//	4) EMBEDDED CONTENT
//	5) FIGURES
//	6) FORMS
//	7) TABLES
//
//*******************************************

@use '../settings' as *;

//*******************************************
//	BASE
//*******************************************
* {
    // Box sizing
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: $fontSize-root;
    scroll-behavior: auto;
}
body {
    @extend %fontFamily-primary;
    @extend %fontSize-body;
    @extend .theme-dark;
    position: relative;
    min-width: $bp_min;
}
section {
    @extend %padding-outer;
	position: relative;
}
header {
    @extend %padding-full;
    position: relative;
    height: 11.5rem;
}
nav {
    @extend %padding-full;
}
footer {
    padding-bottom: 25vh;
}

//*******************************************
//	LINKS
//*******************************************
a {
    all: unset;
    color: inherit;
    text-decoration: none;
    cursor: pointer; /* Re-add the pointer cursor */
    &:visited {
        color: inherit;
    }
    &:hover {
        text-decoration: none;
    }
    &:active {
        color: inherit;
    }
    &:focus {
        color: inherit;
    }
}

//*******************************************
//	TYPE
//*******************************************
// h1 {}
// p {}
// abbr[title] {}
// b {}
// strong {}
// dfn {}
hr {
    border: none; /* Remove default border */
    height: 1.5px; /* Set the height (thickness) of the line */
    color: inherit;
    background-color: currentColor; /* Set the color of the line */
    margin: 1rem 0; /* Add top and bottom margin for spacing */
}
// mark {}
// code {}
// kbd {}
// pre {}
// q {}
// small {}
// sub {}
// sup {}
// sub {}

//*******************************************
//	EMBEDDED CONTENT
//*******************************************
// img {}

//*******************************************
//	FIGURES
//*******************************************
// figure {}

//*******************************************
//	FORMS
//*******************************************
// fieldset {}
// legend {}
// button {}
// input {}
// select {}
// textarea {}
// html input[type="button"] {}
// input[type="reset"] {}
// input[type="submit"] {}
// input[type="checkbox"] {}
// input[type="radio"] {}
// input[type="search"] {}

//*******************************************
//	TABLES
//*******************************************
// table {}
