<footer class="theme-light">
    <nav>
        <div class="flex-container">
            <div class="column-1">
                <h4 class="uppercase">Travis Miller</h4>
                <hr />
                <a class="textLink" href="/work">Work</a>
                <a class="textLink" href="/work/design-code">Design + Code</a>
                <a class="textLink" href="/">About</a>
            </div>

            <div class="column-1">
                <h4 class="uppercase">Let's talk</h4>
                <hr />
                <a class="textLink" href="https://linkedin.com/in/travismillerdesign">LinkedIn</a>
                <a class="textLink" href="mailto:travismillerdes@gmail.com">Email</a>
            </div>
        </div>
    </nav>
</footer>
