<footer>
  <nav>
  
    <div class="flex-container">
    
      <div class="column-1">
        <h4>Travis Miller</h4>
        <hr>
        <a class="footerLink" href="/work">Work</a>
        <a class="footerLink" href="experiments">Design + Code</a>
        <a class="footerLink" href="/">About</a>
      </div>
      
      <div class="column-1">
        <h4>Travis Miller</h4>
        <hr>
        <a class="footerLink" href="https://linkedin.com/in/travismillerdesign">LinkedIn</a>
        <a class="footerLink" href="mailto:travismillerdes@gmail.com">Email</a>
      </div>
    
    </div>
  
  </nav>
</footer>