<section id="explorations" class="theme-dark">
    <div class="textBlock">
        <h3>Design + Code Explorations</h3>
        <p class="large">
            Side projects exploring generative design, AI workflows, and creative coding. I use
            these to test new tools, learn emerging tech, and stay current  as the industry evolves. 
        </p>
    </div>
    <div class="button-bottomRight margin-outer">
        <a class="button" href="/work/design-code">See what I'm building</a>
    </div>
</section>
