//*******************************************
//	BREAKPOINT SETTINGS
//*******************************************


//	Small Devices i.e. "Phones"
$bp_min: 320px;
$bp_sm: 480px;

//	Medium Devices i.e. "Tablets"
$bp_md: 640px;

//	Standard Devices i.e. "Laptops or Desktops"
$bp_lg: 1024px;

//	Large Devices i.e. "Large Monitors"
$bp_xl: 1300px;


//*******************************************
//	BREAKPOINT UTILITY
//*******************************************

/* Implementation:
	.my-element {
	font-size: 16px; // Default style

	@include breakpoint-up($breakpoint-md) {
		font-size: 18px; // Style for medium and larger screens
	}

	@include breakpoint-down($breakpoint-sm) {
		padding: 10px; // Style for small and smaller screens
	}
	}
*/

@mixin breakpoint-up($breakpoint) {
	@media (min-width: $breakpoint) {
	@content;
	}
}

@mixin breakpoint-down($breakpoint) {
	@media (max-width: $breakpoint - 1px) { // Adjust for inclusive/exclusive range
	@content;
	}
}
