---
layout: base.html
title: Travis Miller – Design + Code
description: Code, AI, and design explorations. Technical experiments with Processing, P5.js, generative design, and interactive prototypes showcasing technical implementation skills.
---

<header id="hero" class="hero-compact theme-light">

    {% include 'nav.html' %}

    <div class="flex-container">

        <div class="flexItem">
            <h1>Design<span class="halfspace">+</span>Code</h1>
            <p class="large">Experiments and explorations</p>
        </div>

        <div class="flexItem">
            <p>
                Creative coding explorations in Processing, p5.js, and TouchDesigner. I use code to explore visual ideas and maintain technical fluency.
            </p>
        </div>
    </div>
</header>

<section class="theme-light">
    <div class="flex-container">
        <div>{% responsiveImage "/assets/design-code/viral_melt/viral_melt_composition_1.jpg", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
        <div>{% responsiveImage "/assets/design-code/viral_melt/viral_melt_composition_2.jpg", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
        <div>{% responsiveImage "/assets/design-code/viral_melt/viral_melt_sketch.jpg", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
    </div>
</section>

<!-- PRJCT PXL -->
<section class="theme-dark">
    <div class="contentBlock">
        <div class="flex-container">
            <div>{% responsiveImage "/assets/design-code/prjct_pxl/prjct_pxl_thumbnail.gif", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
            <div>{% responsiveImage "/assets/design-code/prjct_pxl/prjct_pxl_visual_2.jpg", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
        </div>
        <div class="flex-container">
            <div>{% responsiveImage "/assets/design-code/prjct_pxl/prjct_pxl_visual_1.jpg", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
            <div>{% responsiveImage "/assets/design-code/prjct_pxl/prjct_pxl_visual_3.jpg", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
            <div>{% responsiveImage "/assets/design-code/prjct_pxl/prjct_pxl_visual_4.jpg", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
        </div>
    </div>
</section>

<!-- Mod Sans -->
<section class="theme-dark">
    <div class="contentBlock">
        <div class="flex-container">
            <div>{% responsiveImage "/assets/design-code/modsans/modsans_letters_xo.gif", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
            <div>{% responsiveImage "/assets/design-code/modsans/modsans_word_the.gif", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
            <div>{% responsiveImage "/assets/design-code/modsans/modsans_controlpoints_co.gif", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
        </div>
        <div class="flex-container">
            <div>{% responsiveImage "/assets/design-code/modsans/modsans_styles.gif", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
            <div>{% responsiveImage "/assets/design-code/modsans/modsans_graph_quick.gif", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
            <div>{% responsiveImage "/assets/design-code/modsans/modsans_controlpoints_so.gif", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
        </div>
    </div>
</section>

<!-- Gen Numbers -->
<section class="theme-dark">
    <div class="contentBlock">
        <div class="flex-container">
            <div>{% responsiveImage "/assets/design-code/gennum/gennum_animation_1.gif", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
            <div>{% responsiveImage "/assets/design-code/gennum/gennum_animation_2.gif", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
            <div>{% responsiveImage "/assets/design-code/gennum/gennum_animation_3.gif", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
        </div>
        <div class="flex-container">
            <div>{% responsiveImage "/assets/design-code/gennum/gennum_animation_4.gif", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
            <div>{% responsiveImage "/assets/design-code/gennum/gennum_animation_5.gif", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
            <div>{% responsiveImage "/assets/design-code/gennum/gennum_animation_6.gif", "Design experiment showing algorithmicly generated visuals", "fillImage" %}</div>
        </div>
    </div>
</section>

{% set excludePage = 'design-code' %}
{% include 'worklist.html' %}
