//*******************************************
//
//	SETTINGS INDEX
//	Forward all settings modules
//
//*******************************************

@forward 'color';
@forward 'fonts';
@forward 'layout';
@forward 'motion';
@forward 'path';
@forward 'zindex';
