//*******************************************
//
//	BREAKPOINT SETTINGS
//	Default breakpoint settings
//
//	Contents
//	1) GENERIC WIDTHS
//
//*******************************************



//*******************************************
//
//	GENERIC WIDTHS
//
//*******************************************
//	Small Devices i.e. "Phones"
$bp_width-320: 320px;
$bp_width-480: 480px;
$bp_width-500: 500px;
$bp_width-600: 600px;

//	Medium Devices i.e. "Tablets"
$bp_width-640: 640px;

//	Standard Devices i.e. "Laptops or Desktops"
$bp_width-1024: 1024px;

//	Large Devices i.e. "Large Monitors"
$bp_width-1300: 1300px;
$bp_width-1400: 1400px;
$bp_width-1600: 1600px;
$bp_width-1700: 1700px;
$bp_width-2000: 2000px;
