//*******************************************
//	COLOR VARIABLES
//*******************************************
$fill-black: #000000;
$glyph-black: #000000;

$fill-white: #ffffff;
$glyph-white: #ffffff;


//*******************************************
//	THEME CLASSES
//*******************************************
// Sub class default theme
.backgroundImage { background-color: #e2e2e2; }

.theme-dark {
    color: $glyph-white;
    background-color: $fill-black;
    .backgroundImage { background-color: #181818; }
}


//*******************************************
//	PROJECT COLORS
//*******************************************
.theme-leia {
    color: $glyph-white;
    background-color: #0B09AA;
    .backgroundImage { background-color: #1c1ac5; }
}

.theme-ds {
    color: #1E1E1E;
    background-color: #C2DCE6;
    .backgroundImage { background-color: #a9c5d1; }
}