//*******************************************
//	COLOR VARIABLES
//*******************************************
$fill-black: #000000;
$glyph-black: #000000;

$fill-white: #ffffff;
$glyph-white: #ffffff;

//*******************************************
//	THEME CLASSES
//*******************************************
// Sub class default theme
.backgroundImage {
    background-color: #e2e2e2;
}

.theme-dark {
    color: $glyph-white;
    background-color: $fill-black;
    .backgroundImage {
        background-color: #181818;
    }
}

//*******************************************
//	PROJECT COLORS
//*******************************************
.theme-leia {
    color: $glyph-white;
    background-color: #0b09aa;
}

.theme-ds {
    color: #1e1e1e;
    background-color: #c2dce6;
}

.theme-motion {
    color: #ffdddc;
    background-color: #ef1831;
}

.theme-brand {
    color: #bfdded;
    background-color: #005376;
}
