//*******************************************
//	COLOR VARIABLES
//*******************************************
$fill-black: #000000;
$glyph-black: #000000;

$fill-white: #ffffff;
$glyph-white: #ffffff;

//*******************************************
//	MIXINS
//*******************************************
@mixin button-hover-swap($text-color, $bg-color) {
    color: $text-color;
    background-color: $bg-color;

    a.button:hover,
    a:hover .button,
    &a:hover {
        background-color: $text-color;
        color: $bg-color;
    }
}

//*******************************************
//	THEME CLASSES
//*******************************************
// Sub class default theme
.theme-light {
    @include button-hover-swap($glyph-black, $fill-white);
    .backgroundImage { background-color: #e2e2e2; }
}
.theme-dark {
    @include button-hover-swap($glyph-white, $fill-black);
    .backgroundImage { background-color: #181818; }
}

//*******************************************
//	PROJECT COLORS
//*******************************************
.theme-leia {
    @include button-hover-swap($glyph-white, #0b09aa);
}

.theme-ds {
    @include button-hover-swap(#1e1e1e, #c2dce6);
}

.theme-motion {
    @include button-hover-swap(#ffdddc, #ef1831);
}

.theme-brand {
    @include button-hover-swap(#bfdded, #005376);
}

// Workaround for worklist button hover
a:hover {
    .theme-leia .button {
        background-color: $glyph-white;
        color: #0b09aa;
    }

    .theme-ds .button {
        background-color: #1e1e1e;
        color: #c2dce6;
    }

    .theme-motion .button {
        background-color: #ffdddc;
        color: #ef1831;
    }

    .theme-brand .button {
        background-color: #bfdded;
        color: #005376;
    }
}


