//*******************************************
//	BREAKPOINT SETTINGS
//*******************************************

//	Small Devices i.e. "Phones"
$bp_min: 320px;
$bp_sm: 720px;

//	Medium Devices i.e. "Tablets"
$bp_md: 1080px;

//	Standard Devices i.e. "Laptops or Desktops"
$bp_lg: 1240px;


//*******************************************
//	BREAKPOINT UTILITY
//*******************************************

/* Implementation:
	.my-element {
	font-size: 16px; // Default style

	@include breakpoint-up($bp-md) {
		font-size: 18px; // Style for medium and larger screens
	}

	@include breakpoint-down($bp-sm) {
		padding: 10px; // Style for small and smaller screens
	}
	}
*/

@mixin breakpoint-up($breakpoint) {
	@media (min-width: $breakpoint) {
	@content;
	}
}

@mixin breakpoint-down($breakpoint) {
	@media (max-width: $breakpoint - 1px) { // Adjust for inclusive/exclusive range
	@content;
	}
}


//*******************************************
//	GRID UNIT
//*******************************************
$unit-sm: 8px;
$unit-md: 16px;
$unit-lg: 32px;


//*******************************************
//	MARGINS
//*******************************************
$margin-sm: 16px;
$margin-md: 24px;
$margin-lg: 40px;

.margins-standard {
  padding: $margin-sm;
  @include breakpoint-up($bp-sm) {padding: $margin-md}
  @include breakpoint-up($bp-md) {padding: $margin-lg}
}
.margins-minimal {
  padding: $unit-sm;
  @include breakpoint-up($bp-sm) {padding: $unit-md;}
//   @include breakpoint-up($bp-md) {padding: $margin-lg}
}

.margins-inset {
	padding: $margin-sm;
  @include breakpoint-up($bp-sm) {padding: $margin-md}
  @include breakpoint-up($bp-md) {padding: $margin-lg}
}


//*******************************************
//	BORDER
//*******************************************
$border-width: 2px;
$border-radius: 24px;

//*******************************************
//	CLEARFIX
//*******************************************
@mixin clearfix() {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
