//*******************************************
//
//	PATH SETTINGS
//	Variables for defining file paths
//
//	Contents
//	1) ROOT
//	2) ASSETS
//
//*******************************************



//*******************************************
//
//	ROOT
//
//*******************************************
$path-root: "../../" !default;



//*******************************************
//
//	ASSETS
//
//*******************************************
$path-fonts: 	$path-root + "assets/fonts/";
$path-images: 	$path-root + "assets/images/";
