//*******************************************
//
//	TRANSITION SETTINGS
//	Default transition settings
//
//	Contents
//	1) DURATIONS
//	2) EASING
//
//*******************************************



//*******************************************
//
//	DURATIONS
//
//*******************************************
$duration-short: 	0.1s;
$duration-default: 	0.2s;
$duration-long: 	0.3s;
$duration-longer: 	0.5s;
$duration-longest: 	1s;



//*******************************************
//
//	EASING
//
//*******************************************
$ease-default: "ease-out";
