---
layout: base.html
title: Work - Travis Miller
---

<header>
    {% include 'nav.html' %}
</header>

<section class="worklist theme-dark">
    <div class="sectionLabel">
        <p class="uppercase">Selected work</p>
    </div>

    <div class="worklist-small">
        <a class="workitem flex-container" href="/work/leia">
            <div class="featured-image">
                <img class="fillImage" src="/assets/leia/leia_wallpaper_1.jpg" alt=""/>
            </div>
            <div class="featured-card theme-leia">
                <div class="title">
                    <h3>Leia 3D<br>Design System</h3>
                </div>
                <p class="large">Unifying design language for <span class="nobreak">3D Lightfield</span> Technology</p>
                <div class="button-bottomRight">
                    <span class="button" href="/work/leia">View project</span>
                </div>
            </div>
        </a>

        <a class="workitem flex-container" href="/work/google-beam">
            <div class="featured-image">
                <img class="fillImage" src="/assets/google-beam/beam-hero.jpg" alt="Google Beam 3D video communication"/>
            </div>
            <div class="featured-card theme-beam">
                <div class="title">
                    <h3>Google<br>Beam</h3>
                </div>
                <p class="large">Design systems for 3D video communication</p>
                <div class="button-bottomRight">
                    <span class="button">View project</span>
                </div>
            </div>
        </a>

        <a class="workitem flex-container" href="/work/design-systems">
            <div class="featured-image">
                <img class="fillImage" src="/assets/design-code/prjct_pxl/travismiller_prjct_pxl_2.jpg" alt=""/>
            </div>
            <div class="featured-card theme-ds">
                <div class="title">
                    <h3>Design systems for emerging technology</h3>
                </div>
                <p class="large">
                    Strategic approach to building and governing design infrastructure
                </p>
                <div class="button-bottomRight">
                    <span class="button">View project</span>
                </div>
            </div>
        </a>

        <a class="workitem flex-container" href="/work/motion">
            <div class="featured-image">
                <img class="fillImage" src="/assets/motion/ScotiabankArena_Logo_1.gif" alt="">
            </div>
            <div class="featured-card theme-motion">
                <div class="title">
                    <h3>Motion design frameworks</h3>
                </div>
                <p class="large">
                    Reusable motion patterns from stadiums to product interfaces
                </p>
                <div class="button-bottomRight">
                    <span class="button" href="/work/motion">View project</span>
                </div>
            </div>
        </a>

        <a class="workitem flex-container" href="/work/branding">
            <div class="featured-image">
                <img class="fillImage" src="/assets/brand/vesca/vesca_packaging_2.jpg" alt=""/>
            </div>
            <div class="featured-card theme-brand">
                <div class="title">
                    <h3>Branding and identity systems</h3>
                </div>
                <p class="large">Systematic visual language for consumer brands</p>
                <div class="button-bottomRight">
                    <span class="button">View project</span>
                </div>
            </div>
        </a>
    </div>
</section>

{% include 'section-explorations.html' %}
